
@model Project.Web.Models.ProjectIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h1>Projects</h1>
        <a asp-controller="Project" asp-action="Create" class="btn btn-outline-primary">Create New Project</a>
    </div>
</div>
<div class="row">    
    @foreach (var project in Model.ProjectViewModels)
    {
        <div class="col-md-4 col-sm-12 text-center">
            <div class="card" style="width: 18rem;">
                @*<img class="card-img-top" src="..." alt="Card image cap">*@
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                    <p class="card-text">@project.Description</p>
                    <p class="card-text">Number Of Tasks: @project.NumberOfTasks</p>
                    <a asp-controller="ProjectTask" asp-action="AddTask" asp-route-projectId="@project.ProjectId" class="btn btn-primary">Add Task</a>
                    <a asp-controller="ProjectTask" asp-action="Index" asp-route-projectId="@project.ProjectId" class="btn btn-secondary">View Tasks</a>
                </div>
            </div>
        </div>
    }
</div>
