@model Project.Web.Models.ProjectTasks.ProjectTaskIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <a class="btn" asp-action="AddNewTask" asp-controller="ProjectTask" asp-route-projectId="@Model.ProjectId">Add new task</a>
    </div>
</div>

@if (Model.TaskList.Count() == 0)
{
    <p class="alert alert-info">No tasks to show for this project</p>
}
else
{
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.TaskList)
        {
        <tr>
            <td>@task.Name</td>
            <td><span class="badge badge-info">@task.Status</span></td>
            <td><a asp-controller="Subtask" asp-action="AddSubTask" asp-route-projectId="" asp-route-taskId="@task.TaskId"></a></td>
        </tr>
        }
    </tbody>
</table>

}

